@media screen and (min-width: 64em) {
  .page-header {
    padding: 2rem 6rem; } } /* 5rem 6rem */
@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 2rem 4rem; } } /* 3rem 4rem */
.project-tagline {
  margin-bottom: 0; /* margin-bottom: 2rem; */
}
.main-content h3 code {
  padding: 0; /* 2px 4px */
  font-size: 1.1rem; /* 0.9 rem */
  color: #159957; /* #383e41 */
  background-color: transparent; /* #f3f6fa */
}
.main-content table th {
  font-size: 0.9rem;
  padding: 0.5rem 0; /* 0.5rem 1rem */
}
.main-content table td {
  font-size: 0.9rem;
  padding: 0.5rem; /* 0.5rem 1rem */
}
.main-content table pre {
  margin-bottom: 0; /* 1rem */
  padding: 0; /* 0.8rem */
  border: 0; /* 1px solid #DCE6F0 */
  background-color: transparent; /* #F3F6FA */
}

/* @see http://stackoverflow.com/questions/3402295/html-table-with-horizontal-scrolling-first-column-fixed */
.table-scroll-outer {
  position: relative;
}
.table-scroll-inner {
  overflow-x: scroll;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  margin-left: 10rem;
}
.table-scroll-outer table {
  table-layout: fixed;
  width: 52.5rem;
}
.table-scroll-outer th {
  vertical-align: top;
}
.table-scroll-outer .api {
  vertical-align: middle;
}
.table-scroll-outer .parameter {
  position: absolute;
  left: 0;
  width: 10rem;
  margin-top: -1px;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;
}

th.api {
  width: 3.75rem;
}
/* @see http://stackoverflow.com/questions/7076052/vertically-rotate-text-inside-an-html-table-header-cell */
th.api > div {
  display: inline-block;
  overflow: hidden;
  width: 3.75rem;
}
th.api > div > div {
  display: inline-block;
  transform: translate(1rem,100%) rotate(-90deg);
  transform-origin: 0 0;
}
th.api > div > div:after {
  content: "";
  display: block;
  margin: -1rem auto 100%;
}

td.example {
  background-color: #F3F6FA;
}