---
http_interactions:
- request:
    method: get
    uri: http://api.corpwatch.org/companies.json?company_name=John+Smith
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: |
        {"meta":{"success":1,"status":200,"status_string":"Success","total_results":"2","results_complete":1,"api_version":"0.04 (2015-12-14)","parameters":{"company_name":"John Smith","limit":100,"index":0,"year":"most_recent"}},"result":{"companies":{"cw_46942":{"cw_id":"cw_46942","cik":"1378379","company_name":"Clark John Smith II","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"filers","raw_address":"1114 AVENUE OF THE AMERICAS, 22ND FLOOR, NEW YORK NY 10036","country_code":"US","subdiv_code":"NY","top_parent_id":"cw_46942","num_parents":"0","num_children":"0","max_year":"2015","min_year":"2006"},"cw_491186":{"cw_id":"cw_491186","cik":"0","company_name":"John Smith Landfill Inc","irs_number":null,"sic_code":null,"industry_name":null,"sic_sector":null,"sector_name":null,"source_type":"relationships","raw_address":"California","country_code":"US","subdiv_code":"CA","top_parent_id":"cw_5997","num_parents":"1","num_children":"0","max_year":"2003","min_year":"2003"}}}}
  recorded_at: Mon, 11 Jan 2016 00:56:05 GMT
- request:
    method: get
    uri: https://api.littlesis.org/entities.xml?q=John+Smith
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
      www-authenticate:
      - Your request must include a query parameter named "_key" with a valid API
        key value. To obtain an API key, visit http://api.littlesis.org/register
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response>
        Your request must include a query parameter named "_key" with a valid API key value. To obtain an API key, visit http://api.littlesis.org/register.
        </Response>
  recorded_at: Mon, 11 Jan 2016 00:56:05 GMT
- request:
    method: get
    uri: https://api.opencorporates.com/companies/search?order=score&q=John+Smith
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"api_version":"0.4.1","results":{"companies":[{"company":{"name":"JOHN
        SMITH","company_number":"2260987567","jurisdiction_code":"ca_qc","incorporation_date":"2002-08-22","dissolution_date":null,"company_type":"Entreprise
        individuelle","registry_url":null,"branch_status":null,"inactive":true,"current_status":"Radi\u00e9e
        D''office Suite \u00e0 La Non Production De Deux D\u00e9clarations De Mise
        \u00e0 Jour Annuelles Cons\u00e9cutives","created_at":"2012-10-15T06:49:31+00:00","updated_at":"2015-10-12T20:35:09+00:00","retrieved_at":"2015-10-08T03:33:50+00:00","opencorporates_url":"https://opencorporates.com/companies/ca_qc/2260987567","previous_names":[],"source":{"publisher":"Quebec
        Registraire des entreprises","url":"http://www.registreentreprises.gouv.qc.ca","retrieved_at":"2015-10-08T03:33:50+00:00"},"registered_address_in_full":"3250,
        HAIG KIRKLAND                            QC H9H1V8"}},{"company":{"name":"JOHN
        SMITH","company_number":"2263430334","jurisdiction_code":"ca_qc","incorporation_date":"2006-01-09","dissolution_date":null,"company_type":"Entreprise
        individuelle","registry_url":null,"branch_status":null,"inactive":false,"current_status":"Immatricul\u00e9e","created_at":"2012-10-15T12:56:14+00:00","updated_at":"2015-10-25T23:23:48+00:00","retrieved_at":"2015-10-23T04:10:30+00:00","openc[...]
- request:
    method: get
    uri: http://www.openduka.org/index.php/api/search?term=John+Smith
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/html
    body:
      encoding: ASCII-8BIT
      string: '{"error":"missing key and or search term"}'
  recorded_at: Mon, 11 Jan 2016 00:56:06 GMT
- request:
    method: get
    uri: http://api.poderopedia.org/visualizacion/search?alias=John+Smith&entity=persona
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: 
    headers:
      content-type:
      - text/html; charset=UTF-8
    body:
      encoding: UTF-8
      string: 400 BAD REQUEST
  recorded_at: Mon, 11 Jan 2016 00:56:07 GMT
recorded_with: VCR 3.0.1
