---
http_interactions:
- request:
    method: get
    uri: https://api.littlesis.org/lists.xml?q=Barclays
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
      www-authenticate:
      - Your request must include a query parameter named "_key" with a valid API
        key value. To obtain an API key, visit http://api.littlesis.org/register
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <Response>
        Your request must include a query parameter named "_key" with a valid API key value. To obtain an API key, visit http://api.littlesis.org/register.
        </Response>
  recorded_at: Mon, 11 Jan 2016 02:08:16 GMT
- request:
    method: get
    uri: https://api.opencorporates.com/corporate_groupings/search?q=Barclays
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"api_version":"0.4.1","results":{"page":1,"per_page":30,"total_pages":1,"total_count":1,"corporate_groupings":[{"corporate_grouping":{"name":"barclays","created_at":"2011-05-30T22:02:37+00:00","updated_at":"2016-01-10T02:41:01+00:00","opencorporates_url":"https://opencorporates.com/corporate_groupings/barclays","wikipedia_id":"Barclays"}}]}}'
  recorded_at: Mon, 11 Jan 2016 02:08:16 GMT
recorded_with: VCR 3.0.1
