---
http_interactions:
- request:
    method: get
    uri: https://api.littlesis.org/lists.xml?_key=bf2ddbf0538a577c3e50ca2e42e6a07384017718&q=Barclays
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/xml; charset=utf-8
      ls-execution-time:
      - '1452478332.7505'
      etag:
      - '"e5cf93b6cde0d469e3b9502f7bb9d038"'
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<Response>\n  <Meta>\n
        \           <ResultCount>\n          <Lists>1</Lists>        </ResultCount>\n
        \           <Parameters>\n          <q>Barclays</q>      \n        </Parameters>\n
        \     </Meta>\n  <Data>\n    <Lists>\n  <List>\n    <id>615</id><name>Banks
        running the largest Dark Pools in US</name><description>The three largest
        dark pools in the U.S. are run by Credit Suisse, Barclays and UBS AG, according
        to Finra. Combined commissions for the three venues, based on executed trades,
        was $800 million in 2013, according to estimates by Tabb Group.&#13;&#10;&#13;&#10;There
        are a number of smaller dark pools that are either independently owned or
        controlled by consortia of banks, but they typically represent a small percentage
        of daily trading volume of stocks.</description><is_ranked>0</is_ranked><updated_at>2014-06-10
        11:16:02</updated_at>    <num_entities>3</num_entities>\n  </List>\n</Lists>\n\n
        \ </Data>\n</Response>"
  recorded_at: Mon, 11 Jan 2016 02:08:15 GMT
- request:
    method: get
    uri: https://api.opencorporates.com/corporate_groupings/search?q=Barclays
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"api_version":"0.4.1","results":{"page":1,"per_page":30,"total_pages":1,"total_count":1,"corporate_groupings":[{"corporate_grouping":{"name":"barclays","created_at":"2011-05-30T22:02:37+00:00","updated_at":"2016-01-10T02:41:01+00:00","opencorporates_url":"https://opencorporates.com/corporate_groupings/barclays","wikipedia_id":"Barclays"}}]}}'
  recorded_at: Mon, 11 Jan 2016 02:08:15 GMT
recorded_with: VCR 3.0.1
