---
http_interactions:
- request:
    method: get
    uri: https://api.opencorporates.com/officers/search?order=score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"api_version":"0.4.1","results":{"page":1,"per_page":30,"total_pages":4937363,"total_count":148120873,"officers":[{"officer":{"id":102021302,"uid":null,"name":"JOHN
        M. HESSION","jurisdiction_code":"us_ma","position":"secretary","retrieved_at":"2014-09-21T06:34:32+00:00","opencorporates_url":"https://opencorporates.com/officers/102021302","start_date":null,"end_date":null,"occupation":null,"current_status":null,"inactive":null,"company":{"name":"ISC
        ACQUISITION CORP.","jurisdiction_code":"us_ma","company_number":"000514959","opencorporates_url":"https://opencorporates.com/companies/us_ma/000514959"}}},{"officer":{"id":102021221,"uid":null,"name":"JOSEPH
        KHEIRALLAH","jurisdiction_code":"us_ma","position":"treasurer","retrieved_at":"2014-09-21T06:34:17+00:00","opencorporates_url":"https://opencorporates.com/officers/102021221","start_date":null,"end_date":null,"occupation":null,"current_status":null,"inactive":true,"company":{"name":"KATHERINE''S
        CAB, INC.","jurisdiction_code":"us_ma","com[...]
- request:
    method: get
    uri: https://api.openoil.net/concession/search?apikey=oo_e6w89rd34mowpuryn
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"per_page": 100, "results": [{"status": "", "url_wiki": "http://repository.openoil.net/wiki/Brazil",
        "name": "BAR-M-340", "licensees": ["BG Brasil"], "country": "BR", "url_api":
        "http://api.openoil.net/concession/BR/BAR-M-340", "source_document": "http://www.anp.gov.br/?pg=57559",
        "retrieved_date": "2014-08-12", "details": {"Operador": "BG Brasil", "Vencimento1\u00ba":
        "06.08.2018", "Contrato": "BAR-M-340_R11", "Observacao": "", "Concession\u00e1rios":
        "*BG Brasil - 100%"}, "identifier": "BR/BAR-M-340", "type": "", "source_date":
        "2014-01-12"}, {"status": "", "url_wiki": "http://repository.openoil.net/wiki/Brazil",
        "name": "REC-T-106", "licensees": ["Alvopetro"], "country": "BR", "url_api":
        "http://api.openoil.net/concession/BR/REC-T-106", "source_document": "http://www.anp.gov.br/?pg=57559",
        "retrieved_date": "2014-08-12", "details": {"Operador": "Alvopetro", "Vencimento1\u00ba":
        "30.08.2016", "Contrato": "REC-T-106_R11", "Observacao": "", "Concession\u00e1rios":
        "*Alvope[...]
