---
http_interactions:
- request:
    method: get
    uri: https://api.opencorporates.com/officers/search?order=score
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - application/json;charset=utf-8
      status:
      - 200 OK
    body:
      encoding: ASCII-8BIT
      string: '{"api_version":"0.4.1","results":{"page":1,"per_page":30,"total_pages":4937363,"total_count":148120873,"officers":[{"officer":{"id":102021302,"uid":null,"name":"JOHN
        M. HESSION","jurisdiction_code":"us_ma","position":"secretary","retrieved_at":"2014-09-21T06:34:32+00:00","opencorporates_url":"https://opencorporates.com/officers/102021302","start_date":null,"end_date":null,"occupation":null,"current_status":null,"inactive":null,"company":{"name":"ISC
        ACQUISITION CORP.","jurisdiction_code":"us_ma","company_number":"000514959","opencorporates_url":"https://opencorporates.com/companies/us_ma/000514959"}}},{"officer":{"id":102021221,"uid":null,"name":"JOSEPH
        KHEIRALLAH","jurisdiction_code":"us_ma","position":"treasurer","retrieved_at":"2014-09-21T06:34:17+00:00","opencorporates_url":"https://opencorporates.com/officers/102021221","start_date":null,"end_date":null,"occupation":null,"current_status":null,"inactive":true,"company":{"name":"KATHERINE''S
        CAB, INC.","jurisdiction_code":"us_ma","com[...]
- request:
    method: get
    uri: https://api.openoil.net/concession/search
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: 
    headers:
      content-type:
      - text/html; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Mon, 11 Jan 2016 02:08:14 GMT
recorded_with: VCR 3.0.1
