<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th class="api">CorpWatch</th>
      <th class="api">LittleSis</th>
      <th class="api">OpenCorporates</th>
      <th class="api">OpenDuka</th>
      <th class="api">Poderopedia</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>API key <a href="#note1"><sup>1</sup></a></td>
      <td><code>=</code></td>
      <td><code>=</code></td>
      <td><code>=</code></td>
      <td><code>=</code></td>
      <td><code>=</code></td>
    </tr>
    <tr>
      <td><code>limit</code></td>
      <td><code>=</code></td>
      <td><code>=</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>name</code></td>
      <td><code>~=</code></td>
      <td><code>~=</code></td>
      <td><code>~=</code></td>
      <td><code>~=</code></td>
      <td><code>~=</code></td>
    </tr>
    <tr>
      <td><code>classification</code></td>
      <td></td>
      <td><code>=</code></td>
      <td><code>=</code> <code>|=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>created_at</code></td>
      <td></td>
      <td></td>
      <td><code>&gt;=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>founding_date</code></td>
      <td></td>
      <td></td>
      <td><code>=</code> <code>&gt;=</code> <code>&gt;</code> <code>&lt;=</code> <code>&lt;</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>dissolution_date</code></td>
      <td></td>
      <td></td>
      <td><code>=</code> <code>&gt;=</code> <code>&gt;</code> <code>&lt;=</code> <code>&lt;</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>identifiers<br>.identifier</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>identifiers<br>.scheme</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>contact_details<br>.value~=</code> <a href="#note2"><sup>2</sup></a></td>
      <td><code>=</code></td>
      <td></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>industry_code</code></td>
      <td><code>=</code></td>
      <td></td>
      <td><code>=</code> <code>|=</code> <code>a:</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>sector_code</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>substring_match</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>country_code</code></td>
      <td><code>=</code></td>
      <td></td>
      <td><code>=</code> <code>|=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>subdiv_code</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>year</code></td>
      <td><code>=</code> <code>&gt;=</code> <code>&lt;=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>source_type</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>num_children</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>num_parents</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>top_parent_id</code></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>search_all</code></td>
      <td></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>jurisdiction_code</code></td>
      <td></td>
      <td></td>
      <td><code>=</code> <code>|=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>current_status</code></td>
      <td></td>
      <td></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>inactive</code></td>
      <td></td>
      <td></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>branch</code></td>
      <td></td>
      <td></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>nonprofit</code></td>
      <td></td>
      <td></td>
      <td><code>=</code></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><code>entity</code></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><code>=</code></td>
    </tr>
  </tbody>
</table>

<p id="note1">1. Each API has its own API key parameter: <code>corp_watch_api_key</code>, <code>little_sis_api_key</code>, <code>open_corporates_api_key</code>, <code>open_duka_api_key</code> and <code>poderopedia_api_key</code>.</p>
<p id="note2">2. Only <code>contact_details</code> with a <code>type</code> of <code>address</code> are supported, for example: <code>{"contact_details": [{"type": "address", "value~=": "52 London"}]}</code>.</p>