<table>
  <thead>
    <tr>
      <th>Parameter</th>
      <th>OpenCorporates</th>
      <th>OpenOil</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>API key</td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td><code>limit</code></td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td><code>subject.name~=</code></td>
      <td>✔</td>
      <td>✔</td>
    </tr>
    <tr>
      <td><code>subject.birth_date</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>subject.birth_date&gt;=</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>subject.birth_date&gt;</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>subject.birth_date&lt;=</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>subject.birth_date&lt;</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>subject.contact_details</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>jurisdiction_code</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>jurisdiction_code|=</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>role</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>inactive</code></td>
      <td>✔</td>
      <td></td>
    </tr>
    <tr>
      <td><code>country_code</code></td>
      <td></td>
      <td>✔</td>
    </tr>
    <tr>
      <td><code>status</code></td>
      <td></td>
      <td>✔</td>
    </tr>
    <tr>
      <td><code>type</code></td>
      <td></td>
      <td>✔</td>
    </tr>
  </tbody>
</table>
