<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="css/normalize.css">
<!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"> -->
<link rel="stylesheet" href="css/stylesheet.css">
<link rel="stylesheet" href="css/github.css">
<link rel="stylesheet" href="css/github-light.css">
<link rel="stylesheet" href="css/style.css">
</head>

<body>
<section class="page-header">
  <h1 class="project-name">Who's got dirt?</h1>
  <h2 class="project-tagline">A federated search API for influence data</h2>
</section>

<section class="main-content">
{{ content }}
</section>
</body>
</html>
